<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="life.majiang.community.mapper.QuestionMapper">
    <insert id="create" parameterType="Question">
        insert into question(title, description, gmt_create, gmt_modified, creator, tag)
        values (#{title}, #{description}, #{gmtCreate}, #{gmtModified}, #{creator}, #{tag})
    </insert>

    <select id="list" resultType="Question">
        select * from question limit #{offset}, #{size};
    </select>

    <select id="count" resultType="int" >
        select count(1) from question
    </select>

    <select id="listByUserId" resultType="Question">
        select * from question where creator=#{userId} limit #{offset}, #{size}
    </select>

    <select id="countByUserId" resultType="int" >
        select count(1) from question where creator=#{userId}
    </select>
</mapper>