body{
    background-color: #efefef;
}
.main {
    margin: 30px;
    background-color: white;
}
.media-object{
    height: 38px;
    width: 38px;
    border-radius: 5px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin: 15px;
}
.community-menu{
    color: #999;
}
.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.menu .icon:hover{
    color: #499ef3;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 15px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.publish-tag-tab{
    display: none;
    margin-top: 10px;

}