body{
    background-color: #efefef;
}
.main {
    margin: 30px;
    background-color: white;
}
.media-object{
    height: 38px;
    width: 38px;
    border-radius: 5px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin: 15px;
}


